mixin template(id, title, direction)
  li.home__item(class=`home__item--${id}`)
    a.home__link.skew(href=`/case/${id}`)
      span.home__link__wrapper.splitter= title
        img.home__link__media(alt=`${title} Project Preview` data-direction=direction data-src=`projects/${id}.png` data-src-webp=`/projects/${id}.webp`)

section.home
  .home__background
    .home__background__top
    .home__background__bottom

  .home__wrapper
    ul.home__list
      +template('mary-kay', 'MARY-KAY', 'right')
      +template('evil-studio', 'EVIL-STUDIO', 'right')
      +template('croonials', 'CROONIALS', 'right')
      +template('folio-2020', 'FOLIO-2020', 'right')
      +template('clouxgames', 'CLOUXGAMES', 'right')
      +template('tripwithus', 'TRIPWITHUS', 'right')
      +template('ecoland', 'ECOLAND', 'right')
      +template('vultures', 'STOP-VULTURES', 'right')
      +template('bruno', 'BRUNO-DAVID', 'right')
      +template('purity', 'PURITY', 'right')
      +template('school', 'ENGLISH-SCHOOL', 'right')
